<footer class="footer">
  <small>
    <a href="http:/github/repo/">Easy Reservations</a>
    &copy; <%= Date.today.year %>
  </small>
  <nav>
    <ul>
      <li><%= button_to "Hotels", root_path, method: 'get',
        class: 'btn btn-large btn-primary' %></li>
    </ul>
  </nav>
</footer>
